In [54]:
import pandas as pd
import re
import sys
import random

In [40]:
food_db = pd.read_csv('../data/naver_crawling/음식점db_final.csv')
cafe_df = pd.read_csv('../crawling/tmp_cafe.csv')

C:\Users\TJ\AppData\Local\Temp\ipykernel_16728\126888445.py:1: DtypeWarning: Columns (3,10,21,25,27,34,38,39,43) have mixed types. Specify dtype option on import or set low_memory=False.
  food_db = pd.read_csv('../data/naver_crawling/음식점db_final.csv')

In [41]:
cafe_df.drop_duplicates(subset='id',inplace=True)

In [42]:
cafe_df.drop('Unnamed: 0',axis=1,inplace=True)

In [43]:
drop_lsts = ["isSite","type","rCode","posExact","address","addressAbbr","roadAddr","isCallLink","adult","endPageUrl","mobileEndPageUrl","ktCallMd","ppc","imageModDate","displayCategory","category","categoryPaths","previewImages","streetPanorama","skyPanorama","insidePanorama","interiorPanorama","indoorPanorama","poiInfo","entranceCoords","theme","petrolInfo","marker","markerSelected","datalab","dynamicData","markerLabel","isParkingSupported","indoor"]
cafe_df.drop(drop_lsts,axis=1,inplace=True)

In [44]:
food_db.columns

Index(['id', 'name', 'x', 'y', 'fullAddress', 'fullRoadAddress', 'phone',
       'description', 'way', 'keywords', 'hasNaverTalktalkUrl',
       'naverTalktalkUrl', 'urlList', 'images', 'imageURL', 'categories',
       'bizHour', 'bizhourInfo', 'options', 'menus', 'menuImages',
       'hasNaverBooking', 'naverBookingUrl', 'naverbookingId', 'michelinGuide',
       'broadcastInfo', 'reviewCount', 'ITS_BRO_NM', 'SRCH_CNT', 'TOP1Percent',
       'visitorReviewsTotal', 'ratingReviewsTotal', 'avgRating',
       'rating_total_count', 'Counts_per_Scores', 'imageReviewCount',
       'authorCount', 'maxSingleReviewScoreCount', 'themes', 'review_menus',
       'votedKeywords_totalCount', 'votedKeywords_reviewCount',
       'votedKeywords_userCount', 'votedKeywords'],
      dtype='object')

In [45]:
cafe_df.columns

Index(['id', 'name', 'x', 'y', 'fullAddress', 'fullRoadAddress', 'phone',
       'description', 'way', 'keywords', 'hasNaverTalktalkUrl',
       'naverTalktalkUrl', 'urlList', 'images', 'categories', 'bizHour',
       'bizhourInfo', 'options', 'menus', 'menuImages', 'hasNaverBooking',
       'naverBookingUrl', 'naverbookingId', 'michelinGuide', 'broadcastInfo',
       'reviewCount', 'imageURL'],
      dtype='object')

In [46]:
test_df =pd.concat([food_db,cafe_df],axis=0,ignore_index=True)

In [47]:
test_df.shape

(17566, 44)

In [50]:
test_df.drop_duplicates(subset='id',inplace=True,ignore_index=True)

In [51]:
test_df.shape

(16477, 44)

In [53]:
test_df.to_csv('../data/naver_crawling/음식점db_final_concat_Cafe.csv',index=False)

Empty DataFrame
Columns: [id, name, x, y, fullAddress, fullRoadAddress, phone, description, way, keywords, hasNaverTalktalkUrl, naverTalktalkUrl, urlList, images, imageURL, categories, bizHour, bizhourInfo, options, menus, menuImages, hasNaverBooking, naverBookingUrl, naverbookingId, michelinGuide, broadcastInfo, reviewCount, ITS_BRO_NM, SRCH_CNT, TOP1Percent, visitorReviewsTotal, ratingReviewsTotal, avgRating, rating_total_count, Counts_per_Scores, imageReviewCount, authorCount, maxSingleReviewScoreCount, themes, review_menus, votedKeywords_totalCount, votedKeywords_reviewCount, votedKeywords_userCount, votedKeywords]
Index: []

[0 rows x 44 columns]