In [30]:
from glob import glob
from pathlib import Path
import pandas as pd

In [71]:
folder_names = []
for folder in Path('../일별방문객데이터파일/').glob('*데이터랩_다운로드'):
    folder_names.append(folder)

In [27]:
file_names = []
for folder in folder_names:
    for file in folder.glob('*방문자 수 추이.csv'):
        file_names.append(file)

In [65]:
for num ,file in enumerate(file_names):
    if num != 0:
        tmp = result
    result=pd.read_csv(file,encoding='euc-kr')
    if num != 0:
        result=pd.concat([tmp,result],axis=0,ignore_index=True)
    print(num,'번째 완료')

0 번째 완료
1 번째 완료
2 번째 완료
3 번째 완료
4 번째 완료
5 번째 완료
6 번째 완료
7 번째 완료
8 번째 완료
9 번째 완료
10 번째 완료
11 번째 완료
12 번째 완료
13 번째 완료
14 번째 완료
15 번째 완료
16 번째 완료
17 번째 완료
18 번째 완료
19 번째 완료
20 번째 완료
21 번째 완료
22 번째 완료
23 번째 완료
24 번째 완료
25 번째 완료
26 번째 완료
27 번째 완료
28 번째 완료
29 번째 완료
30 번째 완료
31 번째 완료
32 번째 완료
33 번째 완료
34 번째 완료
35 번째 완료
36 번째 완료
37 번째 완료
38 번째 완료
39 번째 완료
40 번째 완료
41 번째 완료
42 번째 완료
43 번째 완료
44 번째 완료
45 번째 완료
46 번째 완료
47 번째 완료
48 번째 완료

In [48]:
tmp = pd.read_csv(file_names[-3],encoding='euc-kr')

In [47]:
tmp1 = pd.read_csv(file_names[-2],encoding='euc-kr')

In [57]:
file_names[-1]

WindowsPath('../새 폴더/20220718133119_제주특별자치도_20220701-20220714_데이터랩_다운로드/20220718133119_방문자 수 추이.csv')

In [66]:
result

          기준년월    광역지자체        방문자 구분     방문자 수  전년도 방문자 수
0     20180701  제주특별자치도     현지인방문자(a)  432397.0        0.0
1     20180701  제주특별자치도     외지인방문자(b)  113981.0        0.0
2     20180701  제주특별자치도     외국인방문자(c)   12339.0        0.0
3     20180701  제주특별자치도    외부방문자(b+c)  126320.0        0.0
4     20180701  제주특별자치도  전체방문자(a+b+c)  558717.0        0.0
...        ...      ...           ...       ...        ...
7370  20220714  제주특별자치도     현지인방문자(a)  545548.0   544554.0
7371  20220714  제주특별자치도     외지인방문자(b)  245892.0   180642.0
7372  20220714  제주특별자치도     외국인방문자(c)    1663.0      737.0
7373  20220714  제주특별자치도    외부방문자(b+c)  247556.0   181379.0
7374  20220714  제주특별자치도  전체방문자(a+b+c)  793104.0   725933.0

[7375 rows x 5 columns]

In [67]:
result.drop('광역지자체',axis=1,inplace=True)

In [69]:
final=result.pivot(
    index='기준년월',
    columns='방문자 구분',
    values='방문자 수'
)

In [70]:
final.to_csv('../data/visitors_Daily_data.csv',encoding='utf-8')