In [1]:
import pandas as pd
import numpy as np

In [26]:
jeju_tour_places=pd.read_csv('./jeju_tour_places.csv',encoding='ansi')
jeju_stay = pd.read_csv('./jeju_stay.csv',encoding='ansi')
jeju_food = pd.read_csv('./jeju_food.csv',encoding='ansi')

In [27]:
jeju_tour_places.shape,jeju_food.shape,jeju_stay.shape

((1103, 31), (1642, 31), (933, 31))

In [30]:
df_list = [jeju_tour_places,jeju_food,jeju_stay]

In [32]:
drop_list = ['region1cd','region2cd','postcode','created','changed','festivalcontents','reservelink']

In [33]:
for df in df_list:
    df.drop(drop_list,axis=1,inplace=True)

In [49]:
eval(jeju_food['contentscd'][0])['label']

'음식점'

In [50]:
jeju_food['contentscd'].apply(lambda x: eval(x)['label'] )

0       음식점
1       음식점
2       음식점
3       음식점
4       음식점
       ...
1637    음식점
1638    음식점
1639    음식점
1640    음식점
1641    관광지
Name: contentscd, Length: 1642, dtype: object

In [53]:
for df in df_list:
    df['contentscd']= df['contentscd'].apply(lambda x: eval(x)['label'])

In [69]:
eval(jeju_food['catemappList'][0])[0]['cate1cd']['label']

'음식점'

In [70]:
eval(jeju_food['catemappList'][0])[0]['cate2cd']['label']

'한식'

In [71]:
eval(jeju_food['catemappList'][0])[0]['cate3cd']['label']

'한식'

In [76]:
eval(jeju_food['catemappList'][1222])[0]

{'seq': 25376,
 'contentsid': {'value': 'CNTS_200000000011381',
  'label': '카페 8',
  'refId': 'CNTS_200000000011381'},
 'cate1cd': {'value': 'cate0000000005',
  'label': '음식점',
  'refId': 'contscate>cate0000000005'},
 'cate2cd': {'value': 'cate0000001267',
  'label': '양식',
  'refId': 'cate0000000005>cate0000001267'},
 'cate3cd': {'value': 'cate0000001311',
  'label': '양식',
  'refId': 'cate0000001267>cate0000001311'},
 'created': '20210420160506'}

In [80]:
for df in df_list:
    df['cate1cd']= df['catemappList'].apply(lambda x: eval(x)[0]['cate1cd']['label'])
    df['cate2cd']= df['catemappList'].apply(lambda x: eval(x)[0]['cate2cd']['label'])
    df['cate3cd']= df['catemappList'].apply(lambda x: eval(x)[0]['cate3cd']['label'])

In [82]:
for df in df_list:
    df.drop('catemappList',axis=1,inplace=True)

In [196]:
for df in df_list:
    df.drop('Unnamed: 0',axis=1,inplace=True)

In [177]:
for df in df_list:
    df['imgpath'] = df['repPhoto'].apply(lambda x: '' if x is np.NaN else eval(x)['photoid']['imgpath'])
    df['thumbnailpath'] = df['repPhoto'].apply(lambda x: '' if x is np.NaN else eval(x)['photoid']['thumbnailpath'])

In [180]:
jeju_food.loc[1486]

Unnamed: 0                                                      1486
alltag             바, LP, 칵테일, 혼술,공용주차장,화장실,무료 WIFI,와인, 맥주, 칵테일,어...
contentsid                                      CNTS_200000000007139
contentscd                                                       음식점
title                                                            마틸다
address                                      제주특별자치도 제주시 애월읍 고내리 841
roadaddress                                  제주특별자치도 제주시 애월읍 고내1길 33
tag                                 칵테일,맥주,커피,음식,진토닉칵테일,와인,아메리카노,에이드
introduction       애월에 위치한 마틸다는 이곳에 방문하는 이들의 취향에 맞게 신청곡을 틀어주며, 술 ...
readcnt                                                         1629
likecnt                                                            0
reviewcnt                                                          0
markcnt                                                            2
snssharecnt                                                        1
schedulecnt                                                        0
visitcnt                                                           0
evelpt                                                           0.0
latitude                                                   33.465631
longitude                                                 126.334288
phoneno                                                 064-799-3629
sbst               애월 근린공원 인근에 위치한 마틸다는 이곳을 방문하는 이들의 취향에 맞게 신청곡을 ...
repPhoto                                                         NaN
PHOTOSHARECOUNT                                                  0.0
cate1cd                                                          음식점
cate2cd                                                           카페
cate3cd                                                           카페
imgpath
thumbnailpath
Name: 1486, dtype: object

In [183]:
for df in df_list:
    df.drop('repPhoto',axis=1,inplace=True)

In [187]:
for df in df_list:
    df.drop('cate1cd',axis=1,inplace=True)

In [198]:
jeju_food.to_csv('./jeju_food_modified.csv',encoding='utf-8',index=False)
jeju_stay.to_csv('./jeju_stay_modified.csv',encoding='utf-8',index=False)
jeju_stay.to_csv('./jeju_tour_places_modified.csv',encoding='ansi',index=False)